{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">
<script>
(function() {
    var theme = localStorage.getItem("theme-storage");
    if (!theme) {
        theme = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    }
    if (theme === 'auto') {
        theme = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    }
    document.documentElement.classList.add(theme);
})();
</script>

    {% include "partials/header.html" %}

    <body>
        <div class="left-content">
            {% block left_content %}
            {% endblock left_content %}
        </div>

        <div class="content">
            {% include "partials/nav.html" %}

            {# Post page is the default #}
            {% block main_content %}
                Nothing here?!
            {% endblock main_content %}

            {% if page.extra.comment is defined %}
                {% set show_comment = page.extra.comment %}
            {% else %}
                {% set show_comment = false %}
            {% endif %}

            {% if show_comment %}
                <div class="giscus">
                </div>
                {% include "_giscus_script.html" %}
            {% endif %}
        </div>

        <div class="right-content">
            {% block right_content %}
            {% endblock right_content %}
        </div>
    </body>

    <script data-goatcounter="https://kentbull.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

</html>
